p-orders/src/main/mule/p-orders-api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b2714be0-5f4a-4ee0-b7e6-c38182bd2384" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="p-orders-api-implFlow" doc:id="a41d4a90-278d-4c96-927f-a2f601d3f958" >
		<http:listener doc:name="Listener" doc:id="bd724ac3-2c37-4220-856e-3b0150d1dad7" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="6cf5c3c3-ac77-45dc-87a6-785068e9d784" message="#[payload]"/>
	</flow>
</mule>
